
body{
	text-align: center;
	margin: 0 auto;
	font-size: 2em;
}
h1{
	margin-bottom: 0; 
}
p{
	font-size: .8em;
}
.container{
	background: #fff;
	border: 1px solid #5fafff;
	border-radius: 5px;
	box-shadow: inset 0px 1px 5px 3px #3972eb;
	margin: auto;
	width: 350px;
	height: 530px;
}
.container-canvas{
	display: none;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	box-shadow: inset 0px 0px 20px 20px #d5eaff;
	background: #fefefe;
}
.text-box, .aDarle{
	background: #5fafff42;
	border-color: #5fafff;
	border-radius: 10px;
	height: 2em;
}
.result{
	display: none;
}